<div class="row">
    <div class="col-16 text-center">
        <div class="btn-group">
            <button type="button" (click)="changeMode('MY TICKETS')" [class]="mode == 'MY TICKETS' ? 'btn btn-primary':'btn btn-success'">My tickets</button>
            <button type="button"  (click)="changeMode('ASSIGNED TICKETS')"  [class]="mode == 'ASSIGNED TICKETS' ? 'btn btn-primary':'btn btn-success'">Assigned tickets</button>
         
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ticket No</th>
                    <th>Department Name</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>State</th>
                    <th>Contact Number</th>
                    <th>Assigned To</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

